<mat-card class="oppia-page-card oppia-long-text oppia-long-text-card">
  <h3>Configuration properties</h3>
  <div class="container ml-0" *ngIf="isNonemptyObject(this.configProperties)">
    <div *ngFor="let cfg of this.configProperties | keyvalue">
      <div class="row protractor-test-config-property oppia-description-text-container">
        <span class="col-lg-2 col-md-2 col-sm-2">
          <em class="protractor-test-config-title">{{ cfg.value.description }}</em>
        </span>
        <span class="col-lg-6 col-md-6 col-sm-6">
          <schema-based-editor schema="cfg.configPropertyData.schema" localValue="cfg.configPropertyData.value">
          </schema-based-editor>
        </span>
        <span class="col-lg-2 col-md-2 col-sm-2">
          <button type="button" class="btn btn-secondary oppia-revert-button" (click)="this.revertToDefaultConfigPropertyValue(cfg.key)">
            Revert to default
          </button>
        </span>
      </div>
    </div>

    <button (click)="this.saveConfigProperties()" class="protractor-test-save-all-configs">Save</button>
    <button (click)="this.reloadConfigProperties()">Undo changes</button>
  </div>

  <div *ngIf="!this.isNonemptyObject(this.configProperties)">
    No configuration properties are available.
  </div>
</mat-card>
<style>
  div.oppia-long-text-card {
    max-width: 1050px;
  }
  div.oppia-description-text-container {
    padding-bottom: 10px;
  }
</style>
