<div
  class="skill-selector-parent skill-container oppia-skill-container protractor-test-skill-container">
  <div 
  class="list-group oppia-list-group">
    <mat-card class="list-view-item protractor-test-skill-select-header">
      Search By Skill
      <input type="text"
             class="form-control protractor-test-skill-name-input"
             placeholder="Enter a skill name"
             [(ngModel)]="skillFilterText"
             autofocus>
    </mat-card>
    <div class="skill-list-box">
      <mat-radio-group
         [(ngModel)]="selectedSkill"
         (change)="updateSelectedSkillId()">
        <div
          *ngFor="let skill of activeCategorizedSkills | keyvalue | categorizedSkillFilter:skillFilterText">
          <mat-card
          class="list-view-item"
          *ngIf="checkIfTopicIsEmpty(skill.key)">
            <mat-card layout="row" class="list-view-item">
              <h2>
                <label class="oppia-topic-name-text">{{ skill.key }}</label>
              </h2>
            </mat-card>
            <div *ngFor="let subtopic of skill.value | keyvalue">
              <div *ngIf="!checkIfEmpty(subtopic.value)" class="list-view-item">
                <mat-card class="list-view-item">
                  <label class="oppia-subtopic-name-text">{{ subtopic.key }}</label>
                  <div *ngFor="let skill of subtopic.value">
                    <mat-radio-button
                      class="oppia-skills-list-item protractor-test-skills-list-item"
                      [value]="skill.id"
                      attr.aria-label="{{skill.description}}">
                      {{ skill.description }}
                    </mat-radio-button>
                  </div>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
        <div *ngIf="untriagedSkillSummaries">
          <mat-card
            *ngIf="untriagedSkillSummaries.length"
            class="list-view-item">
            <mat-card layout="row" class="list-view-item">
              <h2>
                <label class="oppia-heading-text">Untriaged Skills</label>
              </h2>
            </mat-card>
            <div
              *ngIf="!checkIfEmpty(untriagedSkillSummaries)"
              class="list-view-item">
              <mat-card class="list-view-item">
                <mat-radio-button
                  class="oppia-skills-list-item protractor-test-skills-list-item"
                  *ngFor="let skill of untriagedSkillSummaries | untriagedSkillSummariesFilter:skillFilterText"
                  [value]="skill.id"
                  [attr.aria-label]="skill.description">
                  {{skill.description}}
                </mat-radio-button>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </mat-radio-group>
    </div>
  </div>
  <div class="list-group oppia-filter-list-group">
    <mat-card
      *ngIf="allowSkillsFromOtherTopics"
      layout="row"
      class="list-view-item oppia-list-view-item">
      <label>Filter By Topics</label>
    </mat-card>
    <div
      *ngIf="allowSkillsFromOtherTopics"
      class="oppia-list-view-item-container">
      <mat-card class="list-view-item">
        <mat-checkbox
          class="oppia-skills-list-item"
          *ngFor="let topic of topicFilterList"
          [(ngModel)]="topic.checked"
          (change)="updateSkillsListOnTopicFilterChange()">{{ topic.topicName }}</mat-checkbox>
      </mat-card>
    </div>
    <br>
    <mat-card layout="row" class="list-view-item oppia-list-view-item">
      <label>Filter By Subtopic</label>
    </mat-card>
    <div class="oppia-list-view-item-container">
      <mat-card class="list-view-item">
        <div *ngFor="let subTopics of subTopicFilterDict | keyvalue">
          <h3>
            <label class="list-group-item-heading oppia-heading-text">{{ subTopics.key }}</label>
          </h3>
          <mat-card class="list-view-item">
            <mat-checkbox
              class="oppia-skills-list-item"
              *ngFor="let subtopic of subTopics.value"
              [(ngModel)]="subtopic.checked"
              (change)="updateSkillsListOnSubtopicFilterChange()">{{ subtopic.subTopicName }}</mat-checkbox>
          </mat-card>
        </div>
      </mat-card>
    </div>
    <br>
    <button class="btn btn-secondary" (click)="clearAllFilters()">
      Clear All FiError in line 6 of file core/templates/components/skill-selector/skill-selector.component.htmlters
    </button>
  </div>
</div>
<style>
  .skill-selector-parent,
  .skill-list-box {
    max-height: 50vh;
    overflow-y: auto;
  }
  .oppia-skill-container {
    display: flex;
    flex-direction: row;
  }
  .oppia-list-group {
    width: 70%;
  }
  .oppia-topic-name-text,
  .oppia-heading-text,
  .oppia-list-view-item {
    padding-left: 10px;
  }
  .oppia-subtopic-name-text {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 20px;
  }
  .oppia-skills-list-item {
    margin-left: 10px;
  }
  .oppia-filter-list-group {
    padding-left: 20px;
    width: 30%;
  }
  .oppia-list-view-item-container {
    height: 15vh;
    overflow-y: auto;
    word-break: break-word;
  }
  @media screen and (max-width: 768px) {
    .skill-selector-parent,
    .skill-list-box {
      max-height: initial;
    }
  }
</style>
